@page
@model c3pContosoUniveristy.Pages.Instructors.CreateModel

@{
    ViewData["Title"] = DataModels.FrmTypeExtensions.ToFriendlyString(Model.frmType);

    var insFrm = new DataModels.InstructorFrm();

    insFrm.Instructor = Model.Instructor;
    insFrm.AssignedCourseDataList = Model.AssignedCourseDataList;
    insFrm.FrmType = Model.frmType;
    insFrm.ReturnUrl = Request.Query["Path"].ToString();
}

<h1>Create</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        @await Component.InvokeAsync("InstructorForm", insFrm)
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
