@page
@model c3pContosoUniveristy.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit";

    var studentForm = new DataModels.StudentFrm();

    studentForm.Student = Model.Student;
    studentForm.ErrorMessage = Model.ErrorMessage;
    studentForm.FrmType = Model.frmType;
    studentForm.ReturnUrl = Request.Query["Path"].ToString();
}

<h1>Edit</h1>

<h4>Student - 회원 수정화면입니다. </h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @await Component.InvokeAsync("StudentForm", studentForm)
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
