@model string
@{
    var strArry = Model.Split(" ");

}
<span style="font-size:20px">@strArry[0]</span> &nbsp;
<strong style="font-size: 22px; text-decoration:line-through">@strArry[1]</strong> &nbsp;
<strong style="font-size:18px">@strArry[2]</strong> &nbsp;
<span style="font-size:20px; text-decoration:underline"> @strArry[3]</span>
